<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ギャラリー：基本01：削除</title>
</head>
<body>
	<h1>ギャラリー：基本01：削除</h1>
	<form th:action="@{/item/del/execute(id=${param.id})}" method="POST" th:object="${item}">
		<div>
			<div>ID</div>
			<div>[[${param.id}]]</div>
		</div>
		<div>
			<div>品名</div>
			<div>[[*{name}]]</div>
		</div>
		<div>
			<div>価格</div>
			<div>[[*{{price}}]]</div>
		</div>
		<div>
			<div>ロック</div>
			<div>
				[[*{lockVer}]]<input type="hidden" th:field="*{lockVer}">
			</div>
		</div>
		<div>
			<button type="submit">削除</button>
		</div>
	</form>
	<div>
		<address>Copyright &copy;, 2019, agwlvssainokuni</address>
	</div>
</body>
</html>
