<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ギャラリー：基本01</title>
</head>
<body>
	<h1>ギャラリー：基本01</h1>
	<ul>
		<li><a th:href="@{/item/add}">登録</a></li>
		<li><a th:href="@{/item/list}">検索</a></li>
	</ul>
	<div>
		<address>Copyright &copy;, 2019, agwlvssainokuni</address>
	</div>
</body>
</html>
