<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="context-root" th:content="@{/}" />
	<meta name="csrf-header" th:content="${_csrf?.headerName}" />
	<meta name="csrf-parameter" th:content="${_csrf?.parameterName}" />
	<meta name="csrf-token" th:content="${_csrf?.token}" />
	<title>呼出しツール</title>
	<script type="text/javascript" th:src="@{/javascript/testtool/invoker.js}"></script>
</head>

<body>
	<div id="root"></div>
</body>

</html>
