<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ギャラリー：基本01：検索</title>
</head>
<body>
	<h1>ギャラリー：基本01：検索</h1>
	<form th:action="@{/item/list/execute}" method="POST" th:object="${itemListForm}">
		<div>
			<div>
				<label for="name">品名</label>
			</div>
			<div>
				<input type="text" th:field="*{name}">
			</div>
		</div>
		<div>
			<div>
				<label for="priceFm">価格(以上)</label>
			</div>
			<div>
				<input type="text" th:field="*{priceFm}">
			</div>
		</div>
		<div>
			<div>
				<label for="priceTo">価格(以下)</label>
			</div>
			<div>
				<input type="text" th:field="*{priceTo}">
			</div>
		</div>
		<div>
			<button type="submit">検索</button>
			<button type="submit" name="download">ダウンロード</button>
		</div>
	</form>
	<div th:if="${items != null}">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>品名</th>
					<th>価格</th>
					<th>ロック</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${items.list}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.price}"></td>
					<td th:text="${item.lockVer}"></td>
					<td><a th:href="@{/item/edit(id=${item.id})}">修正</a> <a th:href="@{/item/del(id=${item.id})}">削除</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<address>Copyright &copy;, 2019, agwlvssainokuni</address>
	</div>
</body>
</html>
