<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ギャラリー：基本01：検索</title>
</head>
<body>
	<h1>ギャラリー：基本01：検索</h1>
	<form th:action="@{/item/list/execute}" method="POST" th:object="${itemListForm}">
		<div>
			<div>
				<label for="name">品名</label>
			</div>
			<div>
				<input type="text" th:field="*{name}">
			</div>
		</div>
		<div>
			<div>
				<label for="priceFm">価格(以上)</label>
			</div>
			<div>
				<input type="text" th:field="*{priceFm}">
			</div>
		</div>
		<div>
			<div>
				<label for="priceTo">価格(以下)</label>
			</div>
			<div>
				<input type="text" th:field="*{priceTo}">
			</div>
		</div>
		<div>
			<button type="submit">検索</button>
			<button type="submit" name="download">ダウンロード</button>
		</div>
	</form>
	<form th:action="@{/item/bulk}" method="POST" th:if="${items != null}">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>品名</th>
					<th>価格</th>
					<th>ロック</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, stat : ${items.list}" th:object="${item}">
					<td th:object="${itemBulkForm}"><input type="checkbox" th:field="*{elem[__${stat.index}__].checked}"><input type="hidden"
						th:field="*{elem[__${stat.index}__].id}"></td>
					<td>[[*{id}]]</td>
					<td>[[*{name}]]</td>
					<td>[[*{{price}}]]</td>
					<td>[[*{lockVer}]]</td>
					<td><a th:href="@{/item/edit(id=*{id})}">修正</a> <a th:href="@{/item/del(id=*{id})}">削除</a></td>
				</tr>
			</tbody>
		</table>
		<div>
			<button type="submit" name="edit">一括更新</button>
			<button type="submit" name="del">一括削除</button>
		</div>
	</form>
	<div>
		<address>Copyright &copy;, 2019, agwlvssainokuni</address>
	</div>
</body>
</html>
