<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ギャラリー：基本01：一括更新</title>
</head>
<body>
	<h1>ギャラリー：基本01：一括更新</h1>
	<form th:action="@{/item/bulkedit/confirm}" method="POST">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>品名</th>
					<th>価格</th>
					<th>ロック</th>
				</tr>
			</thead>
			<tbody th:object="${itemBulkEditForm}">
				<tr th:each="dummy, stat : *{item}">
					<td>[[*{item[__${stat.index}__].id}]]<input type="hidden" th:field="*{item[__${stat.index}__].id}"></td>
					<td><input type="text" th:field="*{item[__${stat.index}__].name}"></td>
					<td><input type="text" th:field="*{item[__${stat.index}__].price}"></td>
					<td>[[*{item[__${stat.index}__].lockVer}]]<input type="hidden" th:field="*{item[__${stat.index}__].lockVer}"></td>
				</tr>
			</tbody>
		</table>
		<div>
			<button type="submit">確認</button>
		</div>
	</form>
	<div>
		<address>Copyright &copy;, 2019, agwlvssainokuni</address>
	</div>
</body>
</html>
